

.glassmorph{
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border:  2px solid transparent;
  background-clip: padding-box;
}

.rounded-border{
  border-radius: 10px;
}

.base-box{
  height: auto;
}

.parent-box{
  height: 54vh;
  color: rgb(168, 111, 111);
}



#main-clock{
  font-size: 3rem;
  font-weight: 600;
  color: rgb(151, 127, 127);
}

#add-reminder-box, #edit-reminder-box{
  /*border:  2px solid rgba(150, 150, 150, 0.5);*/
  background-color: rgba(126, 109, 109, 0.75);
  color: rgba(0, 0, 0, 0.75);
}

.addedRemainderListItem{
  min-height: 50px;
  /*border:  2px solid rgba(36, 197, 122, 1.0);*/
  background-color: rgba(179, 66, 66, 0.75);
  color: rgba(0, 0, 0, 0.75);
}

.editReminderButtonImg{
  border-radius: 100px;
}

.editReminderButtonImg{
  height: 15px;
  width: 15px;
}